{% macro displayNewsSourcesList(news_source_list) %} 
{% for category in news_source_list %}
<div class="col-md-3">
    <div class="card bg-secondary mb-3 text-white" style="text-align: center; max-width: 20rem">
        <div class="card-header" style="background-color: darkblue;">{{category.name}}</div>
        <div class="card-body" style="background-color: #aeaeae;">
            <p class="card-text">{{category.description}}</p>
            <a href="/articles/{{category.id}}" target="_blank">View stories</a>
        </div>
    </div>
</div>
{% endfor %} 
{% endmacro %}